@media screen and (min-width: 1026px) {

body {
  min-height: 510px;
}

#head {
  width: 20em;
  position: fixed;
}

#logo-page button {
  position: relative;
  margin: 0;
  top: 280px;
}

#scene {
  top: 8em;
}

.text-bubble-container {
  display: none;
}

#project-stack {
  margin: 0 0 0 20em;
  min-height: 100%;
  width: calc(100% - 20em);
}

.project-item {
  font-size: 0.9em;
}

.project-image {
  margin: 0% 0% 0% -3%;
}

#project-page {

}

#project-page .project-item {
  width: calc(100% - 23.6em);
  margin: 0 0 0 22.2em;
  padding: 0;
  left: 0;
  top: 0;
  padding: 0 .7em;
  box-shadow: none;
  min-height: 100%;
}

#project-page .project-image {
  margin: 0 0 0 -1em;
  filter: blur(0.8em);
}

#project-page .project-face {
  margin: 0 auto;
}

}

@media screen and (min-width: 1481px) {

.project-item {
  width: 31.3333333%;
}

}
