@media screen and (min-width: 1026px) {

body {
  min-height: 510px;
}

#head {
  position: fixed;
}

#logo-page button {
  position: relative;
  margin: 0;
  top: 280px;
}

#scene {
  top: 8em;
}

.text-bubble-container {
  display: none;
}
