/* GENERAL SCENE TYPES */
#scene, .camera, .object-container, .face,
.rot-north, .rot-east, .rot-south, .rot-west {
  position: absolute;
}

#scene {
  top: calc(50% - 168px);
  left: 50%;
  transition: opacity 0.2s;
}

.camera {

  /* IMPORTANT */
  width: 0;
  height: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: none;
  perspective: none;

  /* Z-Index */
  z-index: 10;

  /* Positioning */
  /*left: 50%;*/
  /*top: 50%;*/

  transform: translateY(250px) rotateX(0deg) rotateY(0deg);
  transition: transform 1s;

}

.object-container, .rot-north, .rot-east, .rot-south, .rot-west {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  height: 0;
  width: 0;
}

.rot-north {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.rot-east {
  -webkit-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.rot-south {
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.rot-west {
  -webkit-transform: rotateY(-270deg);
  -ms-transform: rotateY(-270deg);
  transform: rotateY(-270deg);
}

.face {
  transform-style: preserve-3d;
}

/* Color Scheme */
/* The initial colors are the darker ones, */
/* when the face is visible then the colors brigthen. */

.purple-bg, .purple-bright-bg, .purple-dark-bg,
.brown-bg, .brown-dark-bg,
.green-bg, .green-bright-bg, .green-dark-bg,
.white-bg, .sky-blue-bg {
  transition: background-color 1s;
}

.sky-blue-bg { background-color: #788e80; }
.dirt-white-bg { background-color: #8B8B68; }

.purple-bg { background-color: #555564; } /* Shadow */
.purple-normal-bg { background-color: #5C5C73; }
.purple-bright-bg { background-color: #5C5C73; } /* Normal */
.purple-dark-bg { background-color: #555564; }

.brown-bg { background-color: #69695d; } /* Shadow */
.brown-normal-bg { background-color: #7F7F73; }
.brown-dark-bg { background-color: #69695d; }

.green-bg { background-color: #7F7F68; } /* Shadow */
.green-normal-bg { background-color: #8B8B68; }
.green-bright-bg { background: #8B8B68; } /* Normal */
.green-dark-bg { background-color: #7F7F68; }

.white-bg {
  background-color: #CCC;
}

.north-visible .rot-north .purple-bg,
.east-visible .rot-east .purple-bg,
.south-visible .rot-south .purple-bg,
.west-visible .rot-west .purple-bg {
  background-color: #5C5C73;
}

.north-visible .rot-north .purple-bright-bg,
.east-visible .rot-east .purple-bright-bg,
.south-visible .rot-south .purple-bright-bg,
.west-visible .rot-west .purple-bright-bg {
  background-color: #68687F;
}

.north-visible .rot-north .brown-bg,
.east-visible .rot-east .brown-bg,
.south-visible .rot-south .brown-bg,
.west-visible .rot-west .brown-bg {
  background-color: #86806c;
}

.north-visible .rot-north .green-bg,
.east-visible .rot-east .green-bg,
.south-visible .rot-south .green-bg,
.west-visible .rot-west .green-bg {
  background-color: #8e946a;
}

.north-visible .rot-north .green-bright-bg,
.east-visible .rot-east .green-bright-bg,
.south-visible .rot-south .green-bright-bg,
.west-visible .rot-west .green-bright-bg {
  background-color: #abab65;
}

.north-visible .rot-north .white-bg,
.east-visible .rot-east .white-bg,
.south-visible .rot-south .white-bg,
.west-visible .rot-west .white-bg {
  background-color: white;
}

.north-visible .rot-north .sky-blue-bg,
.east-visible .rot-east .sky-blue-bg,
.south-visible .rot-south .sky-blue-bg,
.west-visible .rot-west .sky-blue-bg {
  background-color: #6c8692;
}

/* LOGO SHADOW */
#logo-shadow {
  width: 214px;
  height: 214px;
  transform-origin: 50% 50% 50%;
  transform: rotateX(90deg) translateZ(-170px);
  background-color: rgba(0,0,0,0.1);
  margin-left: -107px;
  position: absolute;
  z-index: 0;
  animation: logoShadowFadeIn 1s;
  transition: transform 1s;
}

#logo-shadow.animation-seen {
  animation: unset;
}

/* Scene Begin Animation */
#main-camera {
  animation: islandDown 1s;
}

#main-camera.animation-seen {
  animation: unset;
}

@keyframes islandDown {
  0%   { /*opacity: 0;*/
         transform: translateY(-40px) rotateX(0deg) rotateY(360deg);}
  100% { /*opacity: 1;*/
         transform: translateY(250px) rotateX(0deg) rotateY(0deg);}
}

@keyframes logoShadowFadeIn {
  0%   { background-color: rgba(0,0,0,0.0);
         transform: scaleZ(0) scaleX(0) rotateX(90deg) translateZ(-170px);}
  100% { background-color: rgba(0,0,0,0.1);
         transform: scaleZ(1) scaleX(1) rotateX(90deg) translateZ(-170px);}
}

@keyframes skyFadeIn {
  0%   { background-color: rgba(108 ,134, 146, 0);}
  50%  { background-color: rgba(108 ,134, 146, 0);}
  100% { background-color: rgba(108, 134, 146, 1);}
}

/* SCENE OBJECTS */
#ground-lvl-1 .face {
  height: 4px;
  width: 186px;
  -webkit-transform: translateX(-93px) translateZ(93px);
  -ms-transform: translateX(-93px) translateZ(93px);
  transform: translateX(-93px) translateZ(93px);
}

#ground-lvl-2 .face {
  height: 4px;
  width: 194px;
  -webkit-transform: translateX(-97px) translateY(-4px) translateZ(97px);
  -ms-transform: translateX(-97px) translateY(-4px) translateZ(97px);
  transform: translateX(-97px) translateY(-4px) translateZ(97px);
}

#ground-lvl-3 .face {
  height: 2px;
  width: 206px;
  -webkit-transform: translateX(-103px) translateY(-6px) translateZ(103px);
  -ms-transform: translateX(-103px) translateY(-6px) translateZ(103px);
  transform: translateX(-103px) translateY(-6px) translateZ(103px);
}

#ground-lvl-4 .face {
  height: 2px;
  width: 206px;
  -webkit-transform: translateX(-103px) translateY(-8px) translateZ(103px);
  -ms-transform: translateX(-103px) translateY(-8px) translateZ(103px);
  transform: translateX(-103px) translateY(-8px) translateZ(103px);
}

#grass-lvl-1 .face {
  height: 4px;
  width: 214px;
  -webkit-transform: translateX(-107px) translateY(-12px) translateZ(107px);
  -ms-transform: translateX(-107px) translateY(-12px) translateZ(107px);
  transform: translateX(-107px) translateY(-12px) translateZ(107px);
}

#grass-lvl-2 .face {
  height: 2px;
  width: 214px;
  -webkit-transform: translateX(-107px) translateY(-14px) translateZ(107px);
  -ms-transform: translateX(-107px) translateY(-14px) translateZ(107px);
  transform: translateX(-107px) translateY(-14px) translateZ(107px);
}

#house {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

#house-lvl-1 .face {
  height: 12px;
  width: 88px;
  -webkit-transform: translateX(-44px) translateY(-26px) translateZ(44px);
  -ms-transform: translateX(-44px) translateY(-26px) translateZ(44px);
  transform: translateX(-44px) translateY(-26px) translateZ(44px);
}

#house-lvl-2 .face {
  height: 1px;
  width: 88px;
  -webkit-transform: translateX(-44px) translateY(-27px) translateZ(44px);
  -ms-transform: translateX(-44px) translateY(-27px) translateZ(44px);
  transform: translateX(-44px) translateY(-27px) translateZ(44px);
}

#house-lvl-3 .face {
  height: 1px;
  width: 86px;
  -webkit-transform: translateX(-43px) translateY(-28px) translateZ(43px);
  -ms-transform: translateX(-43px) translateY(-28px) translateZ(43px);
  transform: translateX(-43px) translateY(-28px) translateZ(43px);
}

#house-lvl-4 .face {
  height: 110px;
  width: 80px;
  -webkit-transform: translateX(-40px) translateY(-138px) translateZ(40px);
  -ms-transform: translateX(-40px) translateY(-138px) translateZ(40px);
  transform: translateX(-40px) translateY(-138px) translateZ(40px);
}

#house-lvl-4 .rot-north .part-1,
#house-lvl-4 .rot-north .part-2 {
  width: 20px;
}

#house-lvl-4 .rot-north .part-2 {
  -webkit-transform: translateX(-40px) translateY(-138px) translateZ(40px);
  -ms-transform: translateX(-40px) translateY(-138px) translateZ(40px);
  transform: translateX(20px) translateY(-138px) translateZ(40px);
}

#house-lvl-4 .rot-north .part-3 {
  height: 18px;
}

#house-lvl-5 .face {
  height: 2px;
  width: 80px;
  -webkit-transform: translateX(-40px) translateY(-140px) translateZ(40px);
  -ms-transform: translateX(-40px) translateY(-140px) translateZ(40px);
  transform: translateX(-40px) translateY(-140px) translateZ(40px);
}

#house-lvl-6 .face {
  height: 1px;
  width: 86px;
  -webkit-transform: translateX(-43px) translateY(-141px) translateZ(43px);
  -ms-transform: translateX(-43px) translateY(-141px) translateZ(43px);
  transform: translateX(-43px) translateY(-141px) translateZ(43px);
}

#house-lvl-7 .face {
  height: 4px;
  width: 88px;
  -webkit-transform: translateX(-44px) translateY(-145px) translateZ(44px);
  -ms-transform: translateX(-44px) translateY(-145px) translateZ(44px);
  transform: translateX(-44px) translateY(-145px) translateZ(44px);
}

#house-lvl-8 .face {
  height: 1px;
  width: 88px;
  -webkit-transform: translateX(-44px) translateY(-146px) translateZ(44px);
  -ms-transform: translateX(-44px) translateY(-146px) translateZ(44px);
  transform: translateX(-44px) translateY(-146px) translateZ(44px);
}

#house-lvl-9 .face {
  height: 1px;
  width: 86px;
  -webkit-transform: translateX(-43px) translateY(-147px) translateZ(43px);
  -ms-transform: translateX(-43px) translateY(-147px) translateZ(43px);
  transform: translateX(-43px) translateY(-147px) translateZ(43px);
}

#house-lvl-10 .face {
  height: 1px;
  width: 80px;
  -webkit-transform: translateX(-40px) translateY(-148px) translateZ(40px);
  -ms-transform: translateX(-40px) translateY(-148px) translateZ(40px);
  transform: translateX(-40px) translateY(-148px) translateZ(40px);
}

#house-lvl-11 .face {
  height: 1px;
  width: 78px;
  -webkit-transform: translateX(-39px) translateY(-149px) translateZ(39px);
  -ms-transform: translateX(-39px) translateY(-149px) translateZ(39px);
  transform: translateX(-39px) translateY(-149px) translateZ(39px);
}

#chimney {
  -webkit-transform: translateX(-28px);
  -ms-transform: translateX(-28px);
  transform: translateX(-28px);
}

#chimney-lvl-1 .face {
  height: 13px;
  width: 10px;
  -webkit-transform: translateX(-5px) translateY(-162px) translateZ(5px);
  -ms-transform: translateX(-5px) translateY(-162px) translateZ(5px);
  transform: translateX(-5px) translateY(-162px) translateZ(5px);
}

#chimney-lvl-2 .face {
  height: 2px;
  width: 12px;
  -webkit-transform: translateX(-6px) translateY(-164px) translateZ(6px);
  -ms-transform: translateX(-6px) translateY(-164px) translateZ(6px);
  transform: translateX(-6px) translateY(-164px) translateZ(6px);
}

#door {
  -webkit-transform: translateX(-20px) translateY(-120px) translateZ(36px);
  -ms-transform: translateX(-20px) translateY(-120px) translateZ(36px);
  transform: translateX(-20px) translateY(-120px) translateZ(36px);
}

#door-front-sides .rot-north .part-1,
#door-front-sides .rot-north .part-7 {
  height: 92px;
  width: 4px;
}

#door-front-sides .rot-north .part-2,
#door-front-sides .rot-north .part-3,
#door-front-sides .rot-north .part-4,
#door-front-sides .rot-north .part-5,
#door-front-sides .rot-north .part-6 {
  width: 32px;
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  transform: translateX(4px);
}

#door-front-sides .rot-north .part-2 {
  height: 5px;
}

#door-front-sides .rot-north .part-3,
#door-front-sides .rot-north .part-5 {
  height: 2px;
}

#door-front-sides .rot-north .part-3 {
  -webkit-transform: translateX(4px) translateY(45px);
  -ms-transform: translateX(4px) translateY(45px);
  transform: translateX(4px) translateY(45px);
}

#door-front-sides .rot-north .part-4 {
  height: 1px;
  -webkit-transform: translateX(4px) translateY(47px);
  -ms-transform: translateX(4px) translateY(47px);
  transform: translateX(4px) translateY(47px);
}

#door-front-sides .rot-north .part-5 {
  -webkit-transform: translateX(4px) translateY(66px);
  -ms-transform: translateX(4px) translateY(66px);
  transform: translateX(4px) translateY(66px);
}

#door-front-sides .rot-north .part-6 {
  height: 24px;
  -webkit-transform: translateX(4px) translateY(68px);
  -ms-transform: translateX(4px) translateY(68px);
  transform: translateX(4px) translateY(68px);
}

#door-front-sides .rot-north .part-7 {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

#door-front-sides .rot-east .face,
#door-front-sides .rot-west .face {
  height: 92px;
  width: 4px;
}

#door-front-sides .rot-east .face {
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateZ(-40px);
}

#door-front-sides .rot-west .face {
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

#door-window-1 {
  -webkit-transform: translateX(4px) translateY(5px);
  -ms-transform: translateX(4px) translateY(5px);
  transform: translateX(4px) translateY(5px);
}

#door-window-1 .face {
  height: 40px;
}

#door-window-1 .rot-north .face {
  width: 32px;
  -webkit-transform: translateZ(-2px);
  -ms-transform: translateZ(-2px);
  transform: translateZ(-2px);
}

#door-window-1 .rot-east .face,
#door-window-1 .rot-west .face {
  width: 2px;
}

#door-window-1 .rot-east .face {
  -webkit-transform: translateZ(-32px) translateX(-2px);
  -ms-transform: translateZ(-32px) translateX(-2px);
  transform: translateZ(-32px) translateX(-2px);
}

#door-window-2 {
  -webkit-transform: translateX(4px) translateY(48px);
  -ms-transform: translateX(4px) translateY(48px);
  transform: translateX(4px) translateY(48px);
}

#door-window-2 .face {
  height: 18px;
}

#door-window-2 .rot-north .face {
  width: 32px;
  -webkit-transform: translateZ(-2px);
  -ms-transform: translateZ(-2px);
  transform: translateZ(-2px);
}

#door-window-2 .rot-east .face,
#door-window-2 .rot-west .face {
  width: 2px;
}

#door-window-2 .rot-east .face {
  -webkit-transform: translateZ(-32px) translateX(-2px);
  -ms-transform: translateZ(-32px) translateX(-2px);
  transform: translateZ(-32px) translateX(-2px);
}

#step-lvl-1 {
  -webkit-transform: translateZ(54px) translateY(-20px) translateX(-19px);
  -ms-transform: translateZ(54px) translateY(-20px) translateX(-19px);
  transform: translateZ(54px) translateY(-20px) translateX(-19px);
}

#step-lvl-1 .face {
  height: 6px;
}

#step-lvl-1 .rot-north .face {
  width: 38px;
}

#step-lvl-1 .rot-east .face,
#step-lvl-1 .rot-west .face {
  width: 10px;
}

#step-lvl-1 .rot-east .face {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

#step-lvl-1 .rot-west .face {
  -webkit-transform: translateZ(38px);
  -ms-transform: translateZ(38px);
  transform: translateZ(38px);
}

#step-lvl-2 {
  -webkit-transform: translateZ(54px) translateY(-22px) translateX(-19px);
  -ms-transform: translateZ(54px) translateY(-22px) translateX(-19px);
  transform: translateZ(54px) translateY(-22px) translateX(-19px);
}

#step-lvl-2 .face {
  height: 2px;
}

#step-lvl-2 .rot-north .face {
  width: 38px;
}

#step-lvl-2 .rot-east .face,
#step-lvl-2 .rot-west .face {
  width: 10px;
}

#step-lvl-2 .rot-east .face {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

#step-lvl-2 .rot-west .face {
  -webkit-transform: translateZ(38px);
  -ms-transform: translateZ(38px);
  transform: translateZ(38px);
}

#tree {
  -webkit-transform: translateX(-49px) translateY(63px) translateZ(5px);
  -ms-transform: translateX(-49px) translateY(63px) translateZ(5px);
  transform: translateX(-49px) translateY(63px) translateZ(5px);
}

#trunk-lvl-1 .face {
  height: 68px;
  width: 8px;
  -webkit-transform: translateX(-4px) translateY(-145px) translateZ(4px);
  -ms-transform: translateX(-4px) translateY(-145px) translateZ(4px);
  transform: translateX(-4px) translateY(-145px) translateZ(4px);
}

#trunk-lvl-2 .face {
  height: 2px;
  width: 8px;
  -webkit-transform: translateX(-4px) translateY(-147px) translateZ(4px);
  -ms-transform: translateX(-4px) translateY(-147px) translateZ(4px);
  transform: translateX(-4px) translateY(-147px) translateZ(4px);
}

#crown-1-lvl-1 .face {
  height: 1px;
  width: 34px;
  -webkit-transform: translateX(-17px) translateY(-148px) translateZ(17px);
  -ms-transform: translateX(-17px) translateY(-148px) translateZ(17px);
  transform: translateX(-17px) translateY(-148px) translateZ(17px);
}

#crown-1-lvl-2 .face {
  height: 1px;
  width: 36px;
  -webkit-transform: translateX(-18px) translateY(-149px) translateZ(18px);
  -ms-transform: translateX(-18px) translateY(-149px) translateZ(18px);
  transform: translateX(-18px) translateY(-149px) translateZ(18px);
}

#crown-1-lvl-3 .face {
  height: 102px;
  width: 36px;
  -webkit-transform: translateX(-18px) translateY(-251px) translateZ(18px);
  -ms-transform: translateX(-18px) translateY(-251px) translateZ(18px);
  transform: translateX(-18px) translateY(-251px) translateZ(18px);
}

#crown-1-lvl-4 .face {
  height: 1px;
  width: 36px;
  -webkit-transform: translateX(-18px) translateY(-252px) translateZ(18px);
  -ms-transform: translateX(-18px) translateY(-252px) translateZ(18px);
  transform: translateX(-18px) translateY(-252px) translateZ(18px);
}

#crown-1-lvl-5 .face {
  height: 1px;
  width: 34px;
  -webkit-transform: translateX(-17px) translateY(-253px) translateZ(17px);
  -ms-transform: translateX(-17px) translateY(-253px) translateZ(17px);
  transform: translateX(-17px) translateY(-253px) translateZ(17px);
}

#branch-1-seg-1 {
  -webkit-transform: translateY(-110px) translateX(4px) translateZ(2px);
  -ms-transform: translateY(-110px) translateX(4px) translateZ(2px);
  transform: translateY(-110px) translateX(4px) translateZ(2px);
}

#branch-1-seg-1 .rot-north .face,
#branch-1-seg-1 .rot-south .face {
  height: 3px;
  width: 14px;
}

#branch-1-seg-1 .rot-south .face {
  -webkit-transform: translateZ(4px) translateX(-14px);
  -ms-transform: translateZ(4px) translateX(-14px);
  transform: translateZ(4px) translateX(-14px);
}

#branch-1-seg-1 .rot-west .face {
  height: 3px;
  width: 4px;
  -webkit-transform: translateZ(14px);
  -ms-transform: translateZ(14px);
  transform: translateZ(14px);
}

#branch-1-seg-2 {
  -webkit-transform: translateY(-110px) translateX(16px) translateZ(-5px);
  -ms-transform: translateY(-110px) translateX(16px) translateZ(-5px);
  transform: translateY(-110px) translateX(16px) translateZ(-5px);
}

#branch-1-seg-2 .rot-east .face,
#branch-1-seg-2 .rot-west .face {
  height: 3px;
  width: 8px;
}

#branch-1-seg-2 .rot-east .face {
  -webkit-transform: translateX(-4px) translateZ(4px);
  -ms-transform: translateX(-4px) translateZ(4px);
  transform: translateX(-4px) translateZ(4px);
}

#branch-1-seg-2 .rot-west .face {
  -webkit-transform: translateZ(2px) translateX(-4px);
  -ms-transform: translateZ(2px) translateX(-4px);
  transform: translateZ(2px) translateX(-4px);
}

#branch-1-seg-3-lvl-1 {
  -webkit-transform: translateY(-123px) translateX(15px) translateZ(-12px);
  -ms-transform: translateY(-123px) translateX(15px) translateZ(-12px);
  transform: translateY(-123px) translateX(15px) translateZ(-12px);
}

#branch-1-seg-3-lvl-1 .face {
  height: 16px;
  width: 6px;
  -webkit-transform: translateX(-3px) translateZ(3px);
  -ms-transform: translateX(-3px) translateZ(3px);
  transform: translateX(-3px) translateZ(3px);
}

#branch-1-seg-3-lvl-2 {
  -webkit-transform: translateY(-124px) translateX(15px) translateZ(-12px);
  -ms-transform: translateY(-124px) translateX(15px) translateZ(-12px);
  transform: translateY(-124px) translateX(15px) translateZ(-12px);
}

#branch-1-seg-3-lvl-2 .face {
  height: 1px;
  width: 6px;
  -webkit-transform: translateX(-3px) translateZ(3px);
  -ms-transform: translateX(-3px) translateZ(3px);
  transform: translateX(-3px) translateZ(3px);
}

#crown-2-lvl-1 {
  -webkit-transform: translateX(15px) translateY(23px) translateZ(-12px);
  -ms-transform: translateX(15px) translateY(23px) translateZ(-12px);
  transform: translateX(15px) translateY(23px) translateZ(-12px);
}

#crown-2-lvl-1 .face {
  height: 1px;
  width: 16px;
  -webkit-transform: translateX(-8px) translateY(-148px) translateZ(8px);
  -ms-transform: translateX(-8px) translateY(-148px) translateZ(8px);
  transform: translateX(-8px) translateY(-148px) translateZ(8px);
}

#crown-2-lvl-2 {
  -webkit-transform: translateX(15px) translateY(23px) translateZ(-12px);
  -ms-transform: translateX(15px) translateY(23px) translateZ(-12px);
  transform: translateX(15px) translateY(23px) translateZ(-12px);
}

#crown-2-lvl-2 .face {
  height: 1px;
  width: 18px;
  -webkit-transform: translateX(-9px) translateY(-149px) translateZ(9px);
  -ms-transform: translateX(-9px) translateY(-149px) translateZ(9px);
  transform: translateX(-9px) translateY(-149px) translateZ(9px);
}

#crown-2-lvl-3 {
  -webkit-transform: translateX(15px) translateY(21px) translateZ(-12px);
  -ms-transform: translateX(15px) translateY(21px) translateZ(-12px);
  transform: translateX(15px) translateY(21px) translateZ(-12px);
}

#crown-2-lvl-3 .face {
  height: 104px;
  width: 18px;
  -webkit-transform: translateX(-9px) translateY(-251px) translateZ(9px);
  -ms-transform: translateX(-9px) translateY(-251px) translateZ(9px);
  transform: translateX(-9px) translateY(-251px) translateZ(9px);
}

#crown-2-lvl-4 {
  -webkit-transform: translateX(15px) translateY(23px) translateZ(-11px);
  -ms-transform: translateX(15px) translateY(23px) translateZ(-11px);
  transform: translateX(15px) translateY(23px) translateZ(-11px);
}

#crown-2-lvl-4 .face {
  height: 1px;
  width: 18px;
  -webkit-transform: translateX(-9px) translateY(-254px) translateZ(9px);
  -ms-transform: translateX(-9px) translateY(-254px) translateZ(9px);
  transform: translateX(-9px) translateY(-254px) translateZ(9px);
}

#crown-2-lvl-5 {
  -webkit-transform: translateX(15px) translateY(23px) translateZ(-11px);
  -ms-transform: translateX(15px) translateY(23px) translateZ(-11px);
  transform: translateX(15px) translateY(23px) translateZ(-11px);
}

#crown-2-lvl-5 .face {
  height: 1px;
  width: 16px;
  -webkit-transform: translateX(-8px) translateY(-255px) translateZ(8px);
  -ms-transform: translateX(-8px) translateY(-255px) translateZ(8px);
  transform: translateX(-8px) translateY(-255px) translateZ(8px);
}

#branch-2-seg-1 {
  -webkit-transform: translateY(-114px) translateX(-18px) translateZ(2px);
  -ms-transform: translateY(-114px) translateX(-18px) translateZ(2px);
  transform: translateY(-114px) translateX(-18px) translateZ(2px);
}

#branch-2-seg-1 .rot-north .face,
#branch-2-seg-1 .rot-south .face {
  height: 3px;
  width: 14px;
}

#branch-2-seg-1 .rot-south .face {
  -webkit-transform: translateZ(4px) translateX(-14px);
  -ms-transform: translateZ(4px) translateX(-14px);
  transform: translateZ(4px) translateX(-14px);
}

#branch-2-seg-1 .rot-east .face {
  height: 3px;
  width: 4px;
  -webkit-transform: translateX(-4px);
  -ms-transform: translateX(-4px);
  transform: translateX(-4px);
}

#branch-2-seg-2 {
  -webkit-transform: translateY(-114px) translateX(-14px) translateZ(6px);
  -ms-transform: translateY(-114px) translateX(-14px) translateZ(6px);
  transform: translateY(-114px) translateX(-14px) translateZ(6px);
}

#branch-2-seg-2 .rot-east .face,
#branch-2-seg-2 .rot-west .face {
  height: 3px;
  width: 8px;
}

#branch-2-seg-2 .rot-east .face {
  -webkit-transform: translateX(-4px) translateZ(4px);
  -ms-transform: translateX(-4px) translateZ(4px);
  transform: translateX(-4px) translateZ(4px);
}

#branch-2-seg-2 .rot-west .face {
  -webkit-transform: translateZ(2px) translateX(-4px);
  -ms-transform: translateZ(2px) translateX(-4px);
  transform: translateZ(2px) translateX(-4px);
}

#branch-2-seg-3-lvl-1 {
  -webkit-transform: translateY(-127px) translateX(-15px) translateZ(13px);
  -ms-transform: translateY(-127px) translateX(-15px) translateZ(13px);
  transform: translateY(-127px) translateX(-15px) translateZ(13px);
}

#branch-2-seg-3-lvl-1 .face {
  height: 16px;
  width: 6px;
  -webkit-transform: translateX(-3px) translateZ(3px);
  -ms-transform: translateX(-3px) translateZ(3px);
  transform: translateX(-3px) translateZ(3px);
}

#branch-2-seg-3-lvl-2 {
  -webkit-transform: translateY(-128px) translateX(-15px) translateZ(13px);
  -ms-transform: translateY(-128px) translateX(-15px) translateZ(13px);
  transform: translateY(-128px) translateX(-15px) translateZ(13px);
}

#branch-2-seg-3-lvl-2 .face {
  height: 1px;
  width: 6px;
  -webkit-transform: translateX(-3px) translateZ(3px);
  -ms-transform: translateX(-3px) translateZ(3px);
  transform: translateX(-3px) translateZ(3px);
}

#crown-3-lvl-1 {
  -webkit-transform: translateX(-15px) translateY(19px) translateZ(13px);
  -ms-transform: translateX(-15px) translateY(19px) translateZ(13px);
  transform: translateX(-15px) translateY(19px) translateZ(13px);
}

#crown-3-lvl-1 .face {
  height: 1px;
  width: 14px;
  -webkit-transform: translateX(-7px) translateY(-148px) translateZ(7px);
  -ms-transform: translateX(-7px) translateY(-148px) translateZ(7px);
  transform: translateX(-7px) translateY(-148px) translateZ(7px);
}

#crown-3-lvl-2 {
  -webkit-transform: translateX(-15px) translateY(19px) translateZ(13px);
  -ms-transform: translateX(-15px) translateY(19px) translateZ(13px);
  transform: translateX(-15px) translateY(19px) translateZ(13px);
}

#crown-3-lvl-2 .face {
  height: 1px;
  width: 16px;
  -webkit-transform: translateX(-8px) translateY(-149px) translateZ(8px);
  -ms-transform: translateX(-8px) translateY(-149px) translateZ(8px);
  transform: translateX(-8px) translateY(-149px) translateZ(8px);
}

#crown-3-lvl-3 {
  -webkit-transform: translateX(-15px) translateY(-233px) translateZ(13px);
  -ms-transform: translateX(-15px) translateY(-233px) translateZ(13px);
  transform: translateX(-15px) translateY(-233px) translateZ(13px);
}

#crown-3-lvl-3 .face {
  height: 84px;
  width: 16px;
  -webkit-transform: translateX(-8px) translateY(19px) translateZ(8px);
  -ms-transform: translateX(-8px) translateY(19px) translateZ(8px);
  transform: translateX(-8px) translateY(19px) translateZ(8px);
}

#crown-3-lvl-4 {
  -webkit-transform: translateX(-15px) translateY(-233px) translateZ(13px);
  -ms-transform: translateX(-15px) translateY(-233px) translateZ(13px);
  transform: translateX(-15px) translateY(-233px) translateZ(13px);
}

#crown-3-lvl-4 .face {
  height: 1px;
  width: 16px;
  -webkit-transform: translateX(-8px) translateY(18px) translateZ(8px);
  -ms-transform: translateX(-8px) translateY(18px) translateZ(8px);
  transform: translateX(-8px) translateY(18px) translateZ(8px);
}

#crown-3-lvl-5 {
  -webkit-transform: translateX(-15px) translateY(-233px) translateZ(13px);
  -ms-transform: translateX(-15px) translateY(-233px) translateZ(13px);
  transform: translateX(-15px) translateY(-233px) translateZ(13px);
}

#crown-3-lvl-5 .face {
  height: 1px;
  width: 14px;
  -webkit-transform: translateX(-7px) translateY(17px) translateZ(7px);
  -ms-transform: translateX(-7px) translateY(17px) translateZ(7px);
  transform: translateX(-7px) translateY(17px) translateZ(7px);
}

#grass {
  -webkit-transform: translateY(-16px) translateX(-29px);
  -ms-transform: translateY(-16px) translateX(-29px);
  transform: translateY(-16px) translateX(-29px);
  /*animation: grassWind 5s infinite;*/
}

.grass-particle.grass-particle-1 {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg) translateY(0px);
  animation: grassWind 8s infinite;
}

.grass-particle.grass-particle-2 {
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg) translateY(0px);
  animation: grassWind 8s infinite;
}

.grass-particle.grass-particle-1 .rot-north,
.grass-particle.grass-particle-2 .rot-north,
.grass-particle.grass-particle-3 .rot-north {
  -webkit-transform: rotateY(0deg) translateY(0px);
  -ms-transform: rotateY(0deg) translateY(0px);
  transform: rotateY(0deg) translateY(0px);
}

.grass-particle.grass-particle-1 .rot-east,
.grass-particle.grass-particle-2 .rot-east,
.grass-particle.grass-particle-3 .rot-east {
  -webkit-transform: rotateY(-90deg) translateY(0px);
  -ms-transform: rotateY(-90deg) translateY(0px);
  transform: rotateY(-90deg) translateY(0px);
}

.grass-particle.grass-particle-1 .rot-south,
.grass-particle.grass-particle-2 .rot-south,
.grass-particle.grass-particle-3 .rot-south {
  -webkit-transform: rotateY(-180deg) translateY(0px);
  -ms-transform: rotateY(-180deg) translateY(0px);
  transform: rotateY(-180deg) translateY(0px);
}

.grass-particle.grass-particle-1 .rot-west,
.grass-particle.grass-particle-2 .rot-west,
.grass-particle.grass-particle-3 .rot-west {
  -webkit-transform: rotateY(-270deg) translateY(0px);
  -ms-transform: rotateY(-270deg) translateY(0px);
  transform: rotateY(-270deg) translateY(0px);
}

.grass-particle.grass-particle-1 .rot-north,
.grass-particle.grass-particle-1 .rot-east,
.grass-particle.grass-particle-1 .rot-south,
.grass-particle.grass-particle-1 .rot-west {
  animation: grassWind-north 8.5s infinite;
}

.grass-particle.grass-particle-2 .rot-north,
.grass-particle.grass-particle-2 .rot-east,
.grass-particle.grass-particle-2 .rot-south,
.grass-particle.grass-particle-2 .rot-west {
  animation: grassWind-north 7.3s infinite;
}

.grass-particle.grass-particle-3 .rot-north,
.grass-particle.grass-particle-3 .rot-east,
.grass-particle.grass-particle-3 .rot-south,
.grass-particle.grass-particle-3 .rot-west {
  animation: grassWind-north 8s infinite;
}

@keyframes grassWind-north {
  0%   { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
  50%  { -webkit-transform: rotateY(0deg) translateY(8px);
         -ms-transform: rotateY(0deg) translateY(8px);
         transform: rotateY(0deg) translateY(8px);}
  100% { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
}

@keyframes grassWind-east {
  0%   { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
  50%  { -webkit-transform: rotateY(0deg) translateY(8px);
         -ms-transform: rotateY(0deg) translateY(8px);
         transform: rotateY(0deg) translateY(8px);}
  100% { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
}

@keyframes grassWind-south {
  0%   { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
  50%  { -webkit-transform: rotateY(0deg) translateY(8px);
         -ms-transform: rotateY(0deg) translateY(8px);
         transform: rotateY(0deg) translateY(8px);}
  100% { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
}

@keyframes grassWind-west {
  0%   { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
  50%  { -webkit-transform: rotateY(0deg) translateY(8px);
         -ms-transform: rotateY(0deg) translateY(8px);
         transform: rotateY(0deg) translateY(8px);}
  100% { -webkit-transform: rotateY(0deg) translateY(0px);
         -ms-transform: rotateY(0deg) translateY(0px);
         transform: rotateY(0deg) translateY(0px);}
}

.grass-particle .face {
  -webkit-transform: translateZ(1px) translateX(-1px);6
  -ms-transform: translateZ(1px) translateX(-1px);
  transform: translateZ(1px) translateX(-1px);
  width: 2px;
  transition: transform .3s, -webkit-transform .3s, -ms-transform .3s;
}

.grass-particle .face.green-bright-bg {
  height: 2px;
}

.grass-particle .face.green-bg {
  height: 0px;
}

#smoke {
  transform: translateY(-160px) translateX(12px);
}

.smoke-particle-1 .face,
.smoke-particle-2 .face,
.smoke-particle-3 .face,
.smoke-particle-4 .face {
  width: 4px;
  height: 4px;
  -webkit-transform: translateX(-2px) translateZ(2px);
  -ms-transform: translateX(-2px) translateZ(2px);
  transform: translateX(-2px) translateZ(2px);
  backface-visibility: hidden;
}

.smoke-particle-1 .face {
  -webkit-animation: smokeParticle 6s infinite; /* Safari 4+ */
  -moz-animation:    smokeParticle 6s infinite; /* Fx 5+ */
  -o-animation:      smokeParticle 6s infinite; /* Opera 12+ */
  animation:         smokeParticle 6s infinite; /* IE 10+, Fx 29+ */
  animation-timing-function: linear;
}

@keyframes smokeParticle {
  0%   { opacity: 0.5;
         width: 4px;
         height: 4px;
         transform: translateX(-2px) translateZ(2px) translateY(0px);}
  55%  { opacity: 1;
         width: 8px;
         height: 8px;
         transform: translateX(-4px) translateZ(4px) translateY(-20px);}
  100% { opacity: 0;
         width: 24px;
         height: 24px;
         transform: translateX(-12px) translateZ(12px) translateY(-50px);}
}

.smoke-particle-2 .face {
  -webkit-animation: smokeParticle_2 4.5s infinite; /* Safari 4+ */
  -moz-animation:    smokeParticle_2 4.5s infinite; /* Fx 5+ */
  -o-animation:      smokeParticle_2 4.5s infinite; /* Opera 12+ */
  animation:         smokeParticle_2 4.5s infinite; /* IE 10+, Fx 29+ */
  animation-delay: 1s;
  animation-timing-function: linear;
}

@keyframes smokeParticle_2 {
  0%   { opacity: 0.5;
         width: 4px;
         height: 4px;
         transform: translateX(-2px) translateZ(2px) translateY(0px);}
  55%  { opacity: 1;
         width: 10px;
         height: 10px;
         transform: translateX(-5px) translateZ(5px) translateY(-30px);}
  100% { opacity: 0;
         width: 28px;
         height: 28px;
         transform: translateX(-14px) translateZ(14px) translateY(-80px);}
}

.smoke-particle-3 .face {
  -webkit-animation: smokeParticle_3 8s infinite; /* Safari 4+ */
  -moz-animation:    smokeParticle_3 8s infinite; /* Fx 5+ */
  -o-animation:      smokeParticle_3 8s infinite; /* Opera 12+ */
  animation:         smokeParticle_3 8s infinite; /* IE 10+, Fx 29+ */
  animation-delay: 2s;
  animation-timing-function: linear;
}

@keyframes smokeParticle_3 {
  0%   { opacity: 0.6;
         width: 4px;
         height: 4px;
         transform: translateX(-2px) translateZ(2px) translateY(0px);}
  55%  { opacity: 0.9;
         width: 14px;
         height: 14px;
         transform: translateX(-7px) translateZ(7px) translateY(-23px);}
  100% { opacity: 0;
         width: 32px;
         height: 32px;
         transform: translateX(-16px) translateZ(16px) translateY(-68px);}
}

.smoke-particle-4 .face {
  -webkit-animation: smokeParticle_4 6s infinite; /* Safari 4+ */
  -moz-animation:    smokeParticle_4 6s infinite; /* Fx 5+ */
  -o-animation:      smokeParticle_4 6s infinite; /* Opera 12+ */
  animation:         smokeParticle_4 6s infinite; /* IE 10+, Fx 29+ */
  animation-delay: 4s;
  animation-timing-function: linear;
}

@keyframes smokeParticle_4 {
  0%   { opacity: 0.6;
         width: 4px;
         height: 4px;
         transform: translateX(-2px) translateZ(2px) translateY(0px);}
  55%  { opacity: 0.9;
         width: 22px;
         height: 22px;
         transform: translateX(-11px) translateZ(11px) translateY(-38px);}
  100% { opacity: 0;
         width: 48px;
         height: 48px;
         transform: translateX(-24px) translateZ(24px) translateY(-88px);}
}

#sky, #cut-sky-inside, #sky-inside {
  position: absolute;
}

#sky {
  left: 50%;
  top: 160px;
  width: 0;
  height: 0;
}

#cut-sky-inside {
  overflow: hidden;
  height: 206px;
  width: 256px;
  margin: -128px 0 0 -128px;
  z-index: 5;
}

#sky-inside {
  width: 256px;
  height: 256px;
  border-radius: 178px;
  overflow: hidden;
  background-color: #6c8692;
  z-index: 3;
  animation: skyFadeIn 1.3s;
}

#sky-inside.animation-seen {
  animation: unset;
}

#sky-noise {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/noise-min.png');
  animation: skyNoiseFadeIn 1.3s, skyNoise .5s infinite step-end;
  opacity: 0.05;
  z-index: 2;
}

@keyframes skyNoiseFadeIn {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 0.05; }
}

@keyframes skyNoise {
  0%    { background-position: 0px 0px; }
  10%   { background-position: -10px 10px; }
  20%   { background-position: 10px 20px; }
  30%   { background-position: -10px 30px; }
  40%   { background-position: 10px 40px; }
  50%   { background-position: -10px 50px; }
  60%   { background-position: 10px 60px; }
  70%   { background-position: -10px 70px; }
  80%   { background-position: 10px 80px; }
  90%   { background-position: -10px 90px; }
  100%  { background-position: 10px 100px; }
}

#sky-outside {
  transform: translateY(-128px) translateX(-128px);
}

.cloud {
  position: absolute;
  transition-timing-function: linear;
  z-index: 1;
}

.cloud div {
  position: absolute;
}

#sky-inside .cloud div {
  background-color: white;
}
