@font-face {

	font-family: 'Silkscreen';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/silkscreen/v4/m8JUjfVPf62XiF7kO-i9aAhAfmyi2A.woff2') format('woff2');

}

@font-face {
	
	font-family: 'Silkscreen';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('https://fonts.gstatic.com/s/silkscreen/v4/m8JXjfVPf62XiF7kO-i9YLNlaw.woff2') format('woff2');

}

:root {

	--mobile-controls-size-small: 64px;
	--mobile-controls-size-medium: 96px;
	--mobile-controls-size-large: 128px;
	--logo-border-min-color: #9b488725;
	--logo-border-max-color: #9b488705;
	--logo-border-min-offset: 16px;
	--logo-border-max-offset: 32px;

}

* {

	user-select: none;
	touch-action: none;

}

img {
	
	pointer-events: none;

}

.flex {

	display: flex;

}

.column {

	display: flex;
	flex-direction: column;

}

.hidden {

	display: none !important;

}

.loader {

	z-index: 10;
	width: 64px;
	height: 64px;
	border: 10px solid transparent;
	border-top: 10px solid #000;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	position: absolute;
	animation: spin 1s linear infinite;

}

@keyframes spin {

	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }

}

html {

	width: 100%;
	height: 100%;
	overflow: hidden;

}

body { 

	margin: 0; 
	color: #dce6ea;
	font-family: "Silkscreen";
	letter-spacing: -1px;
	height: 100%;
	width: 100%;
	background: #EEE2E8;
	overflow: hidden;

}

#noise {

	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url(../noise.gif);
	mix-blend-mode: multiply;
	opacity: 0.03;
	pointer-events: none;
	z-index: 20;

}

canvas {

	position: absolute;
	z-index: 0;
	transition: filter 0.4s;
	image-rendering: pixelated;
	image-rendering: crisp-edges; /* fallback for older browsers */
	transform: scale(1); /* zoom 4x */
	transform-origin: top left; /* or center, depending where you want to zoom from */

}


.page {

	width: 100%;
	height: 100%;

}

.overlay {

	position: absolute;

}

.container {

	margin: auto;

}

#loading-page, #press-screen-page, #paused-page {
	
	text-align: center;
	display: flex;
	font-size: 26px;
	letter-spacing: 3px;
	color: #7e6e6e;
	text-shadow: 0px 6px 20px #ffffff;

}

#paused-page {

	z-index: 1;
	background: #e9dede4a;

}

.blurred {

	filter: blur( 8px );

}

#ingame-ui {

	width: 100%;
	height: 100%;
	z-index: 2;

}

#open-pause-menu-button,
#close-pause-menu-button {

	display: flex;
	align-items: center;
	position: absolute;
	font-family: "Silkscreen";
	font-size: 16px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	gap: 8px;
	z-index: 10;
	right: 32px;
	top: 32px;
	color: #292929;
	font-weight: bold;
	padding: 8px 12px 10px 12px;
	opacity: .4;
}

#close-pause-menu-button {

	opacity: 1;

}

#open-pause-menu-button:hover, #open-pause-menu-button:focus,
#close-pause-menu-button:hover, #close-pause-menu-button:focus {

	background-color: #292929;
	color: white;
	outline-color: transparent;
	opacity: 1;
	box-shadow: 
		0 8px 0 -4px #292929,
		0 -8px 0 -4px #292929;

	.key {

		background-color: white;
		color: #292929;

	}

	span { pointer-events: none; }

}

#open-pause-menu-button:focus,
#close-pause-menu-button:focus {

	box-shadow: 
		0 8px 0 -4px #292929,
		0 -8px 0 -4px #292929,
		0 0 0 4px plum,
		0 8px plum,
		0 -8px plum;

}

#open-pause-menu-button:active,
#close-pause-menu-button:active {

	outline: 0px solid transparent;
	outline-offset: 0px;
	box-shadow: 
		0 8px 0 -4px #292929,
		0 -8px 0 -4px #292929,
		0 0 0 4px white,
		0 8px white,
		0 -8px white;

}

.key {

	font-weight: normal;
	font-size: 12px;
	background-color: #292929;
	color: white;
	padding: 2px 4px;
	margin-top: 2px;

}

.ui {

	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	justify-self: center;

}

.level {
	
	position: absolute;
	font-size: 24px;
	z-index: 1;
	color: #667a5e;
    top: 35px;
    left: 32px;
    mix-blend-mode: difference;
}

.bold {

	font-weight: bold;

}

@keyframes button-focus {

	0% {
	
		box-shadow: 
		
		0px 6px #303734,

		-3px -6px #151a18,
		3px -6px #151a18,
		0px -9px #151a18,

		3px 3px #303734,
		-3px 3px #303734,

		0px 12px 0 3px rgba(0,0,0,.1),

		6px 9px 0 3px plum,
		-6px 9px 0 3px plum,
		0px 9px 0 6px plum;
	
	}

	50% {
	
		box-shadow: 
		
		0px 6px #303734,

		-3px -6px #151a18,
		3px -6px #151a18,
		0px -9px #151a18,

		3px 3px #303734,
		-3px 3px #303734,

		0px 12px 0 3px rgba(0,0,0,.1),

		6px 9px 0 0px plum,
		-6px 9px 0 0px plum,
		0px 9px 0 3px plum;
	
	}

	100% {
	
		box-shadow: 
		
		0px 6px #303734,

		-3px -6px #151a18,
		3px -6px #151a18,
		0px -9px #151a18,

		3px 3px #303734,
		-3px 3px #303734,

		0px 12px 0 3px rgba(0,0,0,.1),

		6px 9px 0 3px plum,
		-6px 9px 0 3px plum,
		0px 9px 0 6px plum;
	
	}


}

.menu {

	.overlayscrollbars {
	
		width: calc(100% - 100px);
        padding: 10px 36px;
        touch-action: auto;
        overflow: auto;
        -webkit-overflow-scrolling: touch;

	}

	.os-scrollbar {

		background-color: transparent;
		width: 18px !important;
		right: -5px !important;

	}

	.os-scrollbar-track {

		background-color: rgba(0, 0, 0, 0.2) !important;
		border-radius: 0 !important;
		width: 4px !important;
		height: calc(100%) !important;
		overflow: visible;

	}

	.os-scrollbar-handle {

		background-color: #151a18 !important;
		border-radius: 0 !important;
		width: 18px !important;
		margin-right: -7px;
		box-shadow: 
			0 -6px 0 -3px #151a18,
			0 6px 0 -3px #151a18 !important;

	}

	.os-scrollbar-handle:hover {
		
		background-color: #555;

	}

	.logo {

		position: relative;
		height: 120px;
		image-rendering: pixelated;
		image-rendering: crisp-edges;
		padding-top: 80px;
		background-image: url('../logo.png');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position-y: 70px;
		width: calc(100% - 44px);
		margin: 0 22px;

	}

	button, input[type="range"] {

		font-smooth: never;
		-webkit-font-smoothing: none;
		width: 100%;
		font-family: "Silkscreen";
		font-size: 18px;
		text-shadow: 0 2px #626a67;
		font-weight: bold;
		background-color: #151a18;
		border: none;
		padding: 15px 0 24px 0;
		color: white;
		letter-spacing: 0px; 
		cursor: pointer;
		height: 60px;
		box-shadow: 
			
			0px 6px #303734,

			-3px -3px #151a18,
			3px -3px #151a18,
			0px -6px #151a18,

			3px 3px #303734,
			-3px 3px #303734,

			0px 12px 0 3px rgba(0,0,0,.01),

			6px 9px 0 3px #bbbbbb,
			-6px 9px 0 3px #bbbbbb,
			0px 9px 0 6px #adadad;

		transition: padding .025s, box-shadow .1s;
		transition-timing-function: steps(3, end);

	}

	button {

		height: auto;

	}

	button:focus,
	input[type="range"]:focus {

		letter-spacing: 2px;
		outline: none;
		animation-name: button-focus;
		animation-duration: 1.75s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(3, end);

	}

	button:hover,
	input[type="range"]:hover,
	button:focus,
	input[type="range"]:focus {

		padding: 12px 0 27px 0;
		box-shadow: 
			
			0px 6px #303734,

			-3px -6px #151a18,
			3px -6px #151a18,
			0px -9px #151a18,

			inset 0 -1px #303734,

			3px 3px #303734,
			-3px 3px #303734,

			0px 12px 0 3px rgba(0,0,0,.1),

			6px 9px 0 3px #bbbbbb,
			-6px 9px 0 3px #bbbbbb,
			0px 9px 0 6px #adadad;

	}

	button:active,
	input[type="range"]:active {

		padding: 16px 0 25px 0;
		
		box-shadow: 
			
			0px 3px #151a18,
			0px 6px #303734,

			-3px 0px #151a18,
			3px -0px #151a18,
			0px -3px #151a18,

			3px 3px #303734,
			-3px 3px #303734,


			0px 8px 0 3px rgba(0,0,0,.005),
			0px 21px 0 3px rgba(0,0,0,.01),

			6px 9px 0 3px white,
			-6px 9px 0 3px white,
			0px 9px 0 6px white 
			!important;

	}

	input[type="range"]:hover,
	input[type="range"]:focus {

		padding: 0 8px;


	}

	button:disabled {

		pointer-events: none;
		filter: contrast(0.7) brightness(1.2);

	}

	.input-container {

		width: 100%;
		position: relative;

	}

	.input-range-label {

		font-weight: bold;
		position: absolute;
		width: 100%;
		z-index: 3;
		text-align: center;
		pointer-events: none;
		top: 4px;
		font-size: 18px;
		mix-blend-mode: exclusion;	
		color: white;

	}

	.input-container:hover .input-range-label,
	.input-container:focus-within .input-range-label {

		top: 1px; 

	}

	.input-container:active .input-range-label {

		top: 4px;

	}	

	input[type="range"] {

		appearance: none;
		width: calc(100% - 16px);
		padding: 0 8px;
		margin: 0;
		height: 36px;
		outline-color: white;
		transition: outline .2s, scale .2s, background-color .125s;

	}

	input[type="range"]:hover {
		scale: 1;
	}

	input[type="range"]:active {

		outline-color: white;

	}

	input[type="range"]::-webkit-slider-thumb {
		
		appearance: none;
		width: 22px;
		height: 22px;
		background: #CCC;
		cursor: pointer;
		box-shadow: 
			0 4px 0 -2px #CCC,
			0 -4px 0 -2px #CCC;

	}

	input[type="range"]::-moz-range-thumb {
		
		appearance: none;
		width: 32px;
		height: 32px;
		background: #04AA6D;
		cursor: pointer;

	}

	.menu-container {

		/* position: absolute; */
		/* top: 50%; */
		/* translate: 0 calc(-50% - 25px); */
		align-self: center;
		align-items: center;
		gap: 40px;
		max-width: 560px;
		width: 100%;
		max-height: calc(100% - 22px);

	}

	h2 {

		font-family: "Silkscreen";
		padding: 0;
		text-align: center;
		color: black;
		font-size: 42px;
		font-weight: bold;
		text-shadow: 0 6px rgba(0, 0, 0, .2);
		margin: 91px 0 30px 0;

	}

	.button-container {

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		padding-bottom: 10px;

	}

	.two-panel {

		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 40px;
		align-items: center;

	}

}

.joystick {

	bottom: 34px;
	left: 54px;
	width: 94px;
	height: 94px;
	background-color: grey;
	border-radius: 50%;
	position: absolute;
	z-index: 8;
	pointer-events: none;

}

.stick {

	width: 66px;
	height: 66px;
	background-color: darkgrey;
	border-radius: 50%;
	position: absolute;
	pointer-events: auto;
	top: 50%;
	left: 50%;
	margin-top: -33px;
	margin-left: -33px;
	box-shadow: 0 0 0 6px grey;
	transition: translate 0.1s, box-shadow 0.1s;

}

#jump-button {

	bottom: 34px;
	right: 54px;
	width: 94px;
	height: 94px;
	background-color: darkgrey;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	z-index: 8;
	outline: none;
	border: 0px solid grey;
	transition: border 0.1s, width 0.1s, height 0.1s;

}

#jump-button.pressed {

	border: 14px solid grey;
	width: 66px;
	height: 66px;

}

@media (max-width: 653px) {

	.menu {

		.two-panel {

			flex-direction: column;
		
		}

	}

}